html {
  height: 100%;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 0px;
}

body {
  height: 100%;
  margin: 0px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  background-image: url("pictures/bg.jpg");
}

.main-holder {
  width: 100vh;
  padding: 5vh;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

.main-holder.center {
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg-holder {
  width: 100%;
  height: 30%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;

}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
}

input[type=submit] {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#salary {
  width: 10%;
}

input {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#add {
  width: 45%;
}

#address {
  width: 66.4%;
}

#name {
  width: 22%;
}

fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

h2 {
  margin-left: 1vh;
  display: inline-block;
}

.all {
  margin-right: 1.7vh;
  margin-left: 1vh;
  width: 13vh;
}

#removesubmit {
  width: 30%;
  margin-left: 1vh;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 5px;
}

input[type=button] {
  background-color: #3a3a3a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=button]:hover {
  background-color: #999999;
}

#home {
  float: right;
  margin-top: .5vh;
  margin-right: 1vh; 
}

#back {
  width: 5vh;
}

#database_length {
  margin-left: 1vh;
}

#database_filter {
  margin-right: 1vh;
}

#login {
  height: 60vh;
}

.centercell {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box {
  display: flex;
  align-items: center;
  
}

.box label {
  width: 100px;
  margin-right: 10px;
}

#taxes input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 4vh;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.range {
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#generate {
  margin-right: 8.3vh;
}

button:hover {
  background-color: #999999;
}

input.input::-webkit-outer-spin-button,
input.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.positions {
  display: flex;
  align-items: center;
  justify-content: center;
}

#left, #right, #middle {
  width: 300px;
  height: 400px;
  margin: 100px;
  border: 4px dashed;
  overflow-y: auto;
}

.underline {
  text-decoration: underline;
}

.list{
  background: #3a3a3a;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
  cursor: grab;
}

.list img {
  width: 50px;
  margin-left: 5px;
  margin-right: 10px;
}

#id {
  margin-left: 10px;
}

.name {
  margin-right: 10px;
}

#white {
  color: black;
  text-align: center;
  padding: 3vh;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#simHead {
  margin-left: 0;
}

.rightButton {
  float: right;
  margin-right: 1vh; 
  padding: 15px 30px;
}