<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/editable-table@latest/dist/EditableTable.min.js"></script>
</head>
<body>
    <div class="main-holder" id="droplist">
        <h2>Employee Database</h2> 
        <a id="home" href="/login"><img id="back" src="pictures/back.jpg"></a>
        <form action="http://localhost:3000/remove" method="post" onsubmit="return confirm('Are you sure you want to submit?');">
            
            <br>  
            <table id="database">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Contact</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <%- table %>
                </tbody>
            </table>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#database').DataTable({
                lengthMenu: [5, 10, 25, 50], 
                pageLength: 5
            });
            $('#database').editableTableWidget();
        });
    </script>
</body>
</html>