<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <link rel="stylesheet" href="login.css">
  <script defer src="login.js"></script>
</head>

<body>
      <div class="container">
        <div class="square">
          <h1><a href="database">Employee Database</a></h1>
          <img src="pictures/employee.jpg">
        </div>
        <div class="square">
          <h1><a href="waitress">Positions</a></h1>
          <img src="pictures/positions.jpg">
        </div>
        <div class="square">
          <h1><a href="add">Add</a>/<a href="remove">Remove</a> Employee</h1>
          <img src="pictures/add.jpg">
        </div>
        <div class="square">
          <h1><a href="simulation">Simulation</a></h1>
          <img src="pictures/menu.jpg">
        </div>
      </div>
</body>

</html>