<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Employees</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="index.js"></script>
</head>
<body>
    <div class="main-holder" id="droplist">
        <h2>Select Employees To Remove</h2> 
        <a id="home" href="/login"><img id="back" src="pictures/back.jpg"></a>
        <form action="http://localhost:3000/remove" method="post" onsubmit="return confirm('Are you sure you want to submit?');">
            <input type="button" onclick='selects()' value="Select All" class="all"/>  
            <input type="button" onclick='deSelect()' value="Deselect All" class="all"/>  
            
            <br>
            <input type="submit" id="removesubmit" value="Remove"/>
            <br>  
            <table id="removetable">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Contact</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <%- table %>
                </tbody>
            </table>
        </form>
        </div>
</body>
</html>