<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Simulation</title>
    <link rel="stylesheet" href="style.css">
    
    <script defer src="index.js"></script>
</head>
<body>
    <div class="main-holder" id="taxes">
        <h2 id="simHead">Tip Simulation</h2> <a id="home" href="/login"><img id="back" src="pictures/back.jpg"></a><br>
        <button onclick="generate()" id="generate">Generate Numbers</button>
        <label for="minRange">Min Percent</label>
        <input type="number" id="minRange" class="range" min="0" value="0">
        <label for="maxRange">Max Percent</label>
        <input type="number" id="maxRange" class="range" min="0" value="0">
        
        <div class="container">
            <div class="box">
                <label for="input1">Input 1</label>
                <input type="number" id="input1" class="input">
                <label for="output1">Output 1</label>
                <input type="text" id="output1" readonly>
                <label for="id1" class="id">ID 1</label>
                <input type="text" id="id1" class="idField">
            </div>
            <div class="box">
                <label for="input2">Input 2</label>
                <input type="number" id="input2" class="input">
                <label for="output2">Output 2</label>
                <input type="text" id="output2" readonly>
                <label for="id2" class="id">ID 2</label>
                <input type="text" id="id2" class="idField">
            </div>
            <div class="box">
                <label for="input3">Input 3</label>
                <input type="number" id="input3" class="input">
                <label for="output3">Output 3</label>
                <input type="text" id="output3" readonly>
                <label for="id3" class="id">ID 3</label>
                <input type="text" id="id3" class="idField">
            </div>
            <div class="box">
                <label for="input4">Input 4</label>
                <input type="number" id="input4" class="input">
                <label for="output4">Output 4</label>
                <input type="text" id="output4" readonly>
                <label for="id4" class="id">ID 4</label>
                <input type="text" id="id4" class="idField">
            </div>
            <div class="box">
                <label for="input5">Input 5</label>
                <input type="number" id="input5" class="input">
                <label for="output5">Output 5</label>
                <input type="text" id="output5" readonly>
                <label for="id5" class="id">ID 5</label>
                <input type="text" id="id5" class="idField">
                
            </div>
            <button id="submitTips" class="rightButton" type="button" onclick="submitTips()">Submit</button>
        </div>
        
    </div>
</body>
</html>